html {
  --c-brand: #01b6f5;
  --c-error: #fe4849;
  --c-warning: #fc0;
  --c-success: #1de9b6;
  --c-main-background: #fff;

  /* TODO: generate these colors dynamically */
  --c-highlight: rgb(221, 221, 221);
}
